.mat-dialog-container {
    max-width: 600px;
    width: 100%;
  }
  
  mat-dialog-content {
    padding: 20px;
  }
  
  mat-toolbar {
    background-color: #6c3fb5;
    color: white;
  }
  
  .close-button {
    width: 100%;
    text-align: end;
  }
  
  mat-dialog-actions {
    justify-content: flex-end;
    margin-top: 20px;
  }
  .ml-auto {
    margin-left: auto;
  }
  .full-width{
    width: 100%;
  }
  .mat-form-field{
    display: none;
  }
