.login-card {
  width: 500px;
  background-color: white;
  padding: 16px;
}

.full-width {
  width: 100%;
}

.buttons-login{
  margin: 3px;
}

.title-center{
  align-self: center;
}

.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #6c3fb5; 
}